<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <form action = "/login" method = "POST">
    <input type = "text" placeholder = "Username" name = "UserName"></input><br>
    <input type = "text" placeholder = "Password" name = "uPassword"></input><br>
    <button type="submit">One Time Login</button><br>
    <button name = "StayButton">Stay Logged In</button><br>
    <p id="registerLink"><a href="/register">Don't have an account yet?</a></p>
    <p id="registerLink"><a href="/updatepw">Want to update your password?</a></p>
    </form>  
</head>
<body>
    
</body>
</html>