<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/main.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="regwrapper">
        <div class="regcontainer">
            <img src='../public/img/logo.png'>
            <p>{{error}}</p>
            <form action = "/register" method = "POST">
                <input type = "text" placeholder = "Username" name = "username"></input><br>
                <input type = "text" placeholder = "Email" name = "email"></input><br>
                <input type = "password" placeholder = "Password" name = "password"></input><br>
                <input type = "password" placeholder = "Confirm Password" name = "cPassword"></input><br>
                <button class="btnreg" type="submit">Register</button>
                <a href="/login"><p>Already have an account?</p></a>
            </form>
        </div>
    </div>
</body>
</html>