<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amend Password</title>
    <form action = "/updatepw" method = "POST">
    <input type = "text" placeholder = "Username" name = "UserName"></input><br>
    <input type = "text" placeholder = "Email" name = "uEmail"></input><br>
    <input type = "text" placeholder = "Old Password" name = "oPassword"></input><br>
    <input type = "text" placeholder = "Confirm New Password" name = "cnPassword"></input><br>
    <button type="submit">One Time Login</button>
    <button name = "StayButton">Stay Logged In</button>
    </form>
</head>
<body>
    
</body>
</html>